.content_post
  = link_to post.images[0].image.url, 'data-lightbox' => post.images[0].image do
    = image_tag post.images[0].image.url, class: "post-image"
  %span.title
    = post.title
  .more
    %span= image_tag 'icons8-15.png'
    %ul.more_list
      %li
        = link_to '詳細', "/posts/#{post.id}", method: :get
      - if user_signed_in? && current_user.id == post.user_id
        %li
          = link_to '編集', "/posts/#{post.id}/edit", method: :get
        %li
          = link_to '削除', "/posts/#{post.id}", method: :delete
  %span.name
    %a{:href => "/users/#{post.user_id}"}
      %span 投稿者
      = post.user.nickname
    %a.address{:href => "#"}
      = post.address
.text-area
  = tag.div post.text, class: "text-space"