.contents.row
  %div{id: "post-#{@post.id}", class: "content_post"}
    = link_to @post.images[0].image.url, 'data-lightbox' => @post.images[0].image do
      = image_tag @post.images[0].image.url, class: "post-image"
    - if user_signed_in? && current_user.id == @post.user_id
      %span.title
        = @post.title
      .more
        %span= image_tag 'icons8-15.png'
        %ul.more_list
          %li
            = link_to '編集', "/posts/#{@post.id}/edit", method: :get
          %li
            = link_to '削除', "/posts/#{@post.id}", method: :delete
    %span.name
      %a{:href => "/users/#{@post.user.id}"}
        %span 投稿者
        = @post.user.nickname
      = render "likes/like", post: @post
    .date_time
      %span
        = @post.date_time
  .text-area
    = tag.div @post.text, class: "text-space"
  %div#show-map
  .container
    = render "layouts/error_messages", resource: @comment
    = render partial: 'comments/form'


-# :javascript
-#   function g_map () {
-#     'use strict';
-#     var map = document.getElementById('map');
-#     var map;
-#     var place = {lat: #{@post.latitude}, lng: #{@post.longitude}};
-#     map = new google.maps.Map(map, {
-#       center: place,
-#       zoom: 5
-#     });
-#     var marker = new google.maps.Marker({
-#       position: place,
-#       map: map,
-#       title: #{@post.address},
-#       animation: google.maps.Animation.DROP
-#     });
-#     map.addListener('click', function(e) {
-#       this.panTo(e.latLng);
-#       var marker = new google.maps.Marker({
-#         position: e.latLng,
-#         map: this,
-#         title: e.latLng.toString(),
-#         animation: google.maps.Animation.DROP
-#       });
-#       marker.addListener('click', function() {
-#         this.setMap(null)
-#       });
-#     });
-#   };
