.contents.row
  .content_post
    = image_tag @post.image.url, class: "post-image"
    - if user_signed_in? && current_user.id == @post.user_id
      %span.title
        = @post.title
      .more
        %span= image_tag 'icons8-15.png'
        %ul.more_list
          %li
            = link_to '編集', "/posts/#{@post.id}/edit", method: :get
          %li
            = link_to '削除', "/posts/#{@post.id}", method: :delete
    = simple_format(@post.text)
    %span.name
      %a{:href => "/users/#{@post.user.id}"}
        %span 投稿者
        = @post.user.nickname
  %div#map
  .container
    - if current_user
      = form_with(model: [@post, @comment], local: true) do |form|
        = form.text_area :text, placeholder: "コメントする", rows: "2"
        = form.submit "SEND"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
            = comment.text

:javascript
  document.addEventListener("turbolinks:load", function(){
    handler = Gmaps.build("Google");
    handler.buildMap({ provider: {}, internal: {id: "map"}}, function(){
      markers = handler.addMarkers(#{raw @hash.to_json}, {animation: google.maps.Animation.DROP});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(6);
    });
  });

-# :javascript
-#   function g_map () {
-#     'use strict';
-#     var map = document.getElementById('map');
-#     var map;
-#     var place = {lat: #{@post.latitude}, lng: #{@post.longitude}};
-#     map = new google.maps.Map(map, {
-#       center: place,
-#       zoom: 5
-#     });
-#     var marker = new google.maps.Marker({
-#       position: place,
-#       map: map,
-#       title: #{@post.address},
-#       animation: google.maps.Animation.DROP
-#     });
-#     map.addListener('click', function(e) {
-#       this.panTo(e.latLng);
-#       var marker = new google.maps.Marker({
-#         position: e.latLng,
-#         map: this,
-#         title: e.latLng.toString(),
-#         animation: google.maps.Animation.DROP
-#       });
-#       marker.addListener('click', function() {
-#         this.setMap(null)
-#       });
-#     });
-#   };
