!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LivingLocation
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    -# = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
  %body
    - if content_for?(:body_attributes)
      = yield(:body_attributes)
    = render 'layouts/notifications'
    %header.header
      .header__bar.row
        %h1.grid-6
          = link_to "LivingLoction", root_path, "data-turbolinks": false
        - if user_signed_in?
          .user_nav.grid-6
            %span
              = current_user.nickname
              %ul.user__info
                %li
                  = link_to "マイページ", "/users/#{current_user.id}"
                  = link_to "ログアウト", destroy_user_session_path, method: :delete
            = link_to  "投稿する", "/posts/new", class: "post"
        - else
          .grid-6
            = link_to "ログイン", new_user_session_path, class: 'post'
            = link_to "新規登録", new_user_registration_path, class: 'post'
    
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?language=ja&key=#{ENV['GOOGLE_MAP_APIKEY']}&callback=g_map"}
    %script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
    %script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}
    = yield
    %footer
      %p
        Copyright livinglocation 2020.
